.mainSection{
    margin-top: 70px;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 50px;
    background-color: #F8F1F1;
    border-radius: 60px;
    width: 1212px;
    height: 700px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}