.mainSection{
    margin-top: 70px;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 50px;
    background-color: #F8F1F1;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    width: 1212px;
    flex-grow: 1;
    bottom: 0;
    width: 70%;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    min-width: 900px;
}