header {
    background: orange;
}
.container {
    position: relative;
    height: 700px;
    overflow: hidden;
}

.text_container {
    justify-content: center;
    position: relative;
    display: inline-block;
    text-align: left;
    background: linear-gradient(90deg, #FFFFFF 71.96%, rgba(255, 255, 255, 0.66) 85.98%, rgba(115, 115, 115, 0) 100%);
    padding-bottom: 700px;
    padding-right: 50em;
    z-index: 1;
}

.image_container {
    margin: 0;
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 0;
    justify-content: end;
}

.image {
    width: auto;
    height: 700px;
    object-fit: cover;
    padding: 0;
}